body {
    max-height: 100vh;
    font-family: sans-serif;
}

h1 {
    font-size: 2.5rem;
}

.grid {
    width: 420px;
    height: 420px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid > * {
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 1px solid green; /*delete or change color and opacity*/
}

.pac-dot {
    border: 5px solid #fff;
    background: greenyellow;
}

.wall {
    background: blue;
}

.power-pallets {
    background: green;
    border-radius: 7.5px;
}

.ghost-lair {
    background-color: #fff;
}

.red {
    background: red;
}

.blue {
    background: aqua;
}

.pink {
    background: palevioletred;
}

.yellow {
    background: yellow;
}

.ghost {
    border: 1px solid black;
    border-radius: 7.5px;
}

.scared-ghost {
    background: blue;
}

.pac-man {
    background: yellow;
    border: 1px solid black;
    border-radius: 7.5px;
}





img {
    width: 100%;
}

.btn-container {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    grid-template-rows: repeat(3, 33.333%);
}

.up {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    transform: rotate(-90deg)
}
.left {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    transform: rotate(-180deg)
}
/*down*/
.right {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    transform: rotate(90deg);
}
/*right*/
.down {
    grid-row: 2 / 2;
    grid-column: 3 / 3;
}